<div class="product-details">
  {{!-- Header --}}
  <h3>Beats Solo Wireless Headphones</h3>
  <div class="text-warning">
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star-half-stroke"></i>
  </div>
  {{!-- Price --}}
  <section>
    <del class="small text-black-50">$199.95</del>
    <i class="text-danger font-weight-bold">$99.98</i>
  </section>
</div>
